{% extends 'base.html.twig' %}

{% block body %}

    <h2>Mot de passe oublier</h2>
    <p>Entrez votre pseudo pour signaler que vous avez oublié votre mot de passe </p>
    <strong>Un administrateur vous communiquera votre mot de passe d'ici peu </strong>

    {% embed 'views/form/form_template.html.twig' with {form : formResetAsk}%}
    {% endembed %}

    <a href="{{ path('app_login') }}" class="submitButton">Retour à la connexion</a>
{% endblock %}

{% block title %}
     Mot de passe oublier
{% endblock %}

