<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Musée des Transmissions</h3>
            <p>Espace Ferrié - 6 Avenue de la Boulais</p>
            <p>CS 17 339 - 35 173 Cesson-Sévigné Cedex</p>
            <p>Tél : 02 99 84 32 87</p>
        </div>

        <div class="footer-section">
{#            <h3>Informations légales</h3>#}
{#            <a href="{{ path('mentions_legales') }}">Mentions légales</a>#}
{#            <a href="{{ path('politique_confidentialite') }}">Politique de confidentialité</a>#}
{#            <a href="{{ path('accessibilite') }}">Accessibilité</a>#}
        </div>
    </div>

    <p class="footer-bottom">&copy; {{ "now"|date("Y") }} Musée des Transmissions - Tous droits réservés</p>
</footer>