services:
  db:
    image: mariadb:11
    container_name: musee_db
    restart: unless-stopped

    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: museeTransmitions
      MARIADB_AUTO_UPGRADE: "1"

    ports:
      - "3307:3306"

    volumes:
      - db_data:/var/lib/mysql
      - ./docker/mariadb/my.cnf:/etc/mysql/mariadb.conf.d/99-custom.cnf

    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 60s

    networks:
      - musee_network

  app:
    image: soif/appmusee:latest
    container_name: musee_app
    restart: unless-stopped

    environment:
      APP_ENV: dev
      APP_SECRET: ${APP_SECRET}
      DB_NAME: museeTransmitions
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      JWT_PASSPHRASE: ${JWT_PASSPHRASE}
      VITE_API_USERNAME: ${VITE_API_USERNAME}
      VITE_API_PASSWORD: ${VITE_API_PASSWORD}
      CORS_ALLOW_ORIGIN: ${CORS_ALLOW_ORIGIN:-^https?://(localhost|127\\.0\\.0\\.1)(:[0-9]+)?$}

    ports:
      - "80:80"      # Front React
      - "8080:8080"  # API Symfony sur port 8080 (DEV)

    volumes:
      - uploads_data:/var/www/html/public/uploads
      - ./logs:/var/www/html/var/log

    depends_on:
      db:
        condition: service_healthy

    networks:
      - musee_network

networks:
  musee_network:
    driver: bridge

volumes:
  db_data:
    driver: local
  uploads_data:
    driver: local