name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_REPOSITORY }}:latest
            ${{ secrets.DOCKER_REPOSITORY }}:${{ github.sha }}
          build-args: |
            REACT_REPO_URL=${{ secrets.REACT_REPO_URL }}
            REACT_BRANCH=master
            VITE_API_USERNAME=${{ secrets.VITE_API_USERNAME }}
            VITE_API_PASSWORD=${{ secrets.VITE_API_PASSWORD }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_REPOSITORY }}:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_REPOSITORY }}:buildcache,mode=max

      - name: Image built successfully
        run: |
          echo "Image Docker buildée et pushée avec succès !"
          echo "Tags: latest, ${{ github.sha }}"