name: Tests Symfony 6.4

on:
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    services:
      mariadb:
        image: mariadb:11.8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        ports:
          - 3306:3306
        options: --health-cmd="mariadb-admin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP 8.4
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        extensions: apache2handler,pdo_mysql,mysql

    - name: Cache Composer
      uses: actions/cache@v4
      with:
        path: vendor
        key: composer-${{ hashFiles('composer.lock') }}

    - name: Install Composer deps
      run: composer install --no-progress --no-interaction --optimize-autoloader

    - name: Copy .env.test
      run: cp .env.test .env || cp .env.test.local .env.test

    - name: Create test DB
      run: |
        php bin/console doctrine:database:create --env=test --no-interaction
        php bin/console doctrine:migrations:migrate --no-interaction --env=test

    - name: Run PHPUnit
      run: php bin/phpunit --colors=always --coverage-text

    - name: Check Symfony console
      run: php bin/console --version
