name: Tests Docker Hub

on:
  push:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      mariadb:
        image: mariadb:11.8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test
        ports:
          - 3306:3306
        options: --health-cmd="mariadb-admin ping" --health-interval=10s

    steps:
    - uses: actions/checkout@v4

    - name: Docker login & tests
      env:
        IMAGE: ${{ secrets.DOCKER_REPOSITORY }}:latest
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker pull $IMAGE
        docker run --rm -v $(pwd):/app -w /app --network=host $IMAGE \
          sh -c "
            composer install --no-interaction &&
            php bin/console doctrine:database:create --env=test --no-interaction &&
            php bin/console doctrine:migrations:migrate --env=test --no-interaction &&
            php bin/phpunit --colors=always
          "
